@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8f9fb;
  --foreground: #1e293b;
}

body {
  color: var(--foreground);
  background: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
